.kopfzeile-container {
    padding: 2px;
    background-image:linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 4, 255) 100%)
}
.kopfzeile {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    background-image: linear-gradient(90deg, rgb(0, 4, 255) 0%, rgb(0, 0, 0) 100%)
}
.wartung {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-top: 14px;
}
.youtube {
    width: 50px;
}
.twitter {
    width: 50px;
}
.discord {
    width: 50px;
}
body {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,14,255,1) 100%);
    font-family:Open Sans;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
}
.content1 {
    padding-top: 100px;
}
.text1 {
    color: white;
    padding: 1.5%;
}
.text2 {
    color: white;
    padding: 1.5%;
}
.projekteweiterleitung {
text-decoration: none;
}
.teammitgliederweiterleitung {
text-decoration: none;
}